<h1>Resultado da busca:</h1>
<div class="row">
    <% @trips.each do |trip| %>
      <div class="col-xs-12 col-md-4">
        <%= render 'shared/card_component', trip: trip %>
      </div>
    <% end %>
  </div>
