
<body align="center">
  <h1>Fala aí, beleza?</h1>

  <img src="https://media.giphy.com/media/a0h7sAqON67nO/giphy.gif" alt="">

  <p>Seu cadastro foi realizado com sucesso.</p>
  <p>Seja bem-vindo ao Air Truck!</p>

  <p>Agora você pode viajar de boa e seu carro vai te esperar lá tranquilão</p>

  <img src="https://media.giphy.com/media/GA2FNpP1kAQNi/giphy.gif" alt="">

  <p>Valeu!</p>

  <p>Don Juan CTO</p>
</body>

