<div class="user-stories text-center">
  <h2>Conheça de quem já usou</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <img class="avatar-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <p>Mussum Ipsum, cacilds vidis litro abertis. In elementis mé pra quem é amistosis quis leo. Detraxit consequat et quo num tendi nada. Si num tem leite então bota uma pinga aí cumpadi!</p>
        <p class="text-left">- João Paulo</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <img class="avatar-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <p>Mussum Ipsum, cacilds vidis litro abertis. Atirei o pau no gatis, per gatis num morreus. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.</p>
        <p class="text-left">- Raul Coutinho</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <img class="avatar-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <p>Mussum Ipsum, cacilds vidis litro abertis. Cevadis im ampola pa arma uma pindureta. Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis!<p>
        <p class="text-left">- Thomas Cabral</p>
      </div>
    </div>
  </div>
</div>
