<div class="value-proposition text-center">
<h2>Como funciona</h2>
  <div class="conteiner">
    <div class="row">
      <div class="col-xs-12 col-md-2 col-md-offset-2">
        <i class="fa fa-search" aria-hidden="true"></i>
        <p>Procure por viagems cadastras na sua cidade por um de nosso parceiros</p>
      </div>
      <div class="col-xs-12 col-md-2 col-md-offset-1">
        <i class="fa fa-handshake-o" aria-hidden="true"></i>
        <p>Encontre a melhor data e preço para levar seu carro e feche negocio!</p>
      </div>
      <div class="col-xs-12 col-md-2 col-md-offset-1">
        <i class="fa fa-truck" aria-hidden="true"></i>
        <p>Entregue o carro para seu carregador e aguarde ser entregue na cidade da sua escolha</p>
      </div>
    </div>
  </div>
</div>
