<p>admin/trips</p>
<h1>Viagens Cadastradas</h1>
<br>
<div class="row">
  <% @trips.each do |trip| %>
    <div class="col-xs-12 col-md-6">
      <div class="truck-card">
        <p>Nome da Cegonha: <%= trip.truck  %></p>
        <p>Vagas Totais: <%= truck.vacancies %>
        <div >
          <%= link_to "Viagens Casdastras", list_admin_truck_trips_path(truck), class: "btn btn-primary"  %>
          <%= link_to "Deletar Cegonha", admin_truck_path(truck), method: 'delete', class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
