<h1><%= @truck.name %></h1>
<br>
<%= link_to 'Adicionar viagem', new_admin_truck_trip_path(@truck), class: "btn btn-success" %>
<%= link_to 'Voltar', admin_trucks_path, class: "btn btn-danger" %>
<br>
<h2>Viagens listadas:</h2>
<br>
<% @trips.each do |trip| %>
    <%= trip.price %>
<% end %>
<br>
