.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.right-footer {
  display: flex;
  flex-basis: 400px;
  justify-content: space-between;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-copyright {
  color: rgba(0,0,0,0.3);
}
.footer-legal a{
  color: rgba(0,0,0,0.3);
}
.footer-legal a:hover {
  opacity: 1;
  text-decoration: underline;
  color: black;
}
