.order-card {
  background-color: white;
  display: flex;
  margin: 10px 0;

   .saida{
    margin: 0 50px;
    padding: 5px 100px;

   }

   .chegada {
    margin: 0 50px;
    padding: 5px 100px;
   }
}
