.value-proposition {
  background-color: #e78200;
  background-size:cover;
  padding: 10px 10px 50px 10px;
    h2 {
      color:white;
      text-transform:
      uppercase;
      font-weight: 300;
      padding: 10px 0;
    }

    i {
      font-size: 120px;
      color: #013d6e;
    }

    p {
      margin: 10px -30px;
      color: white;
    }
}
